/capa.bbl
/capa.blg
/capa.aux
/capa.log
/capa.synctex.gz
/corpo.aux
/corpo.brf
/corpo.glg
/corpo.glo
/corpo.gls
/corpo.idx
/corpo.lof
/corpo.log
/corpo.synctex.gz
/corpo.toc
/corpo.bbl
/corpo.blg
/corpo.ist
/corpo.lot
/fontes.bib.bak
/fontes.bib.sav
